body {
    overflow-x: hidden;
}

h1 {
    font-family: 'Brush Script MT', fantasy;
    text-align: center;
    font-size: 500%;
    color: black;
    -webkit-text-stroke: 1px black;
    background-color: white;
    border-radius: 50px;
    margin-top: 50px;
    border: 2px solid white;
}

.carousel-indicators li {
    background-color: grey;
}

.carousel img {
    height:auto;
    width:auto;
}

button {
    background-color: bisque;
    line-height: 1.8em;
    padding: 1em;
    border: double 4px aquamarine;
    border-radius: 25px;
    margin-top: 1em;
    font-weight: bold;
    font-size: 150%;
}

button:active {
    border: double 4px pink;
    background-color: lightgray;
}

#carousel {
    background-color: antiquewhite;
    padding: 2em;
}

#title {
    background-color: antiquewhite;
    text-align: center;
}

#orderForm h2 {
    text-align: center;
    margin-top: 50px;
}

#orderForm h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

form {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border: 10px solid bisque;
    border-radius: 20px;
    margin-top: 20px;
}

#history {
    margin-top: 50px;
}

#history p, #info p {
    font-size: 150%;
}

#history h2, #info h2 {
    margin-bottom: 30px;
}

#history img, #info img {
    border: 10px solid bisque;
}

label {
    display: inline-block;
    width: 100px;
}

.food {
    width: 200px;
}

input {
    padding-right: 40px;
}

textarea {
    vertical-align: top;
}

h5 {
    font-size: 80%;
    color: red;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
}

h6 {
    font-weight: bold;
}

#menu table {
    border-collapse: separate;
    border: 10px solid black;
    border-radius: 30px;
    background-color: bisque;
}

#menu tr {
    height: 200px;
}

#menu td {
    min-width: 500px;
    border-radius: 20px;
}

#menu tr p {
    color: black;
    padding-left: 20px;
    background-color: bisque;
    border-radius: 30px;
    width: 50%;
}

#confirmation table {
    border: 1px solid black;
}

#confirmation td {
    min-width: 400px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

#confirmation th {
    text-align: center;
    border: 1px solid black;
    min-width: 400px;
}

#orderDetails td {
    min-width: 265px;
}

#orderDetails th {
    min-width: 265px;
}

h7 {
    font-size: 200%;
    font-weight: bold;
    text-decoration: underline;
}