body
{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(../images/stallbg.jpg);
    background-attachment: fixed;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container-fluid {
    padding: 0 !important;
}

header {
    height: 10vh;
}

.beginTitle {
    font-family: 'Permanent Marker', cursive;
    font-size: 7.5vw;
    text-align: center;
    color: aliceblue;
    text-shadow: 4px 1.5px 1px black;
    margin-top: 35vh;

}

.subTitle {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.8vw;
    text-align: center;
    color: aliceblue;
    text-shadow: 3px 1.5px 1px black;
    margin-bottom: 43vh;
}

.sideDiv {
    background-color: rgb(240, 248, 255, 0.8);
    border-radius: 9px;
}

.sideMarker {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 3.25rem;
    width: auto;
    border-radius: 9px;
    margin-top: 1rem;
    margin-bottom: 0;
}

.sideMarkerText {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.bigMarker {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem;
    margin: 2rem 2rem 2rem;
    background-color: rgb(240, 248, 255, 0.8);
    width: 70%;
    border-radius: 9px;
}

/********************************/
/*********Carousel styles********/
/********************************/
.carousel {
    display: block;
    width: 100%;
    border-radius: 9px;
    overflow: hidden;
}

.jpnCaption {
    text-shadow: 3px 1.5px 1px black;
}


/********************************/
/**********Modal styles**********/
/********************************/
.dishTrigger {
    cursor: pointer;
    background-color: aliceblue;
    border-radius: 12px;
    margin-bottom: 12px;
    width: 90%;
}


.dishTriggerImg {
    object-fit: cover;
    width: 100%;
    height: auto;
    padding: 30px 30px 14px;
    border-radius: 5px;
}


.dishTriggerText {
    padding-bottom: 8px;
    font-family: 'Permanent Marker', cursive;
    font-size: 3vw;
    text-align: center;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
}

.modal-dish-img {
    width: 100%;
    margin-bottom: 10px;
}

.dish-title, .dish-descr {
    font-size: 1.1vw;
}

/***************************************/
/***********Price Table Styles**********/
/***************************************/

.dishPrice {
    background-color: rgb(245,245,245,0.9);
    width: 90% !important;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 30px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.pricetable {
    overflow: scroll;
}

.priceth {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5vw;
    font-weight: 100;
    border-bottom: 2px solid darkslategray !important;
}

.pricetd {
    width: 20%;
    text-align: center;
    font-size: 2.5vw;
    border-bottom: 2px solid darkslategray !important;
}

/*****************************************/
/***********Dessert Table Styles**********/
/*****************************************/

.dessertPrice {
    background-color: rgb(245,245,245,0.9);
    border-radius: 9px;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
}

.dessertpricetd {
    width: 35%;
    text-align: center;
    font-size: 2.5vw;
    border-bottom: 2px solid darkslategray !important;
}

.dessertbtn {
    font-family: 'Permanent Marker', cursive;
    margin: 0 auto;
}

/**************************************/
/***********Order Form styles**********/
/**************************************/
.japanform {
    width: 75%;
    margin: 0 auto;
    background-color: rgb(245,245,245,0.9);
    border-radius: 10px;
    padding: 30px;
}

.formheader {
    font-family: 'Permanent Marker', cursive;
    font-size: 5vw;
    text-align: center;
}

.formtd {
    width:50%;
    text-align:center;
    margin-right:100px;
}

.formtable {
    background-color: rgb(255,255,255, 0.9) !important;
    border-radius: 10px;
}

.ordered-list {
    background-color: white;
    border-radius: 9px;
}

.ordered-dish {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    vertical-align: central;
}

.ordered-name {
    margin-left: 10px;
}

.ordered-quantity {
    margin: 0 auto;
}

hr {
    background-color: darkslategray;
    width: 99%;
    margin: 0 auto !important;
}

label {
    margin-bottom: 0.5rem;
}

.form-group {
    margin-bottom: 1rem;
}
